@charset "UTF-8";

/*  font-family: 'Bebas Neue', sans-serif;

    break points
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
*/

@media (min-width: 1400px){
    
    /* about-us */

    #about-us-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #about-us-section > .row{
        width: 75%;
    }

    /* fourth section - tradition */

    #tradition-section{
        height: 800px;
    }
}

@media (max-width: 1400px){
    
    /* fourth section - tradition */

    #tradition-section{
        height: 800px;
    }
}

@media (max-width: 1200px){

    /* fourth section - tradition */

    #tradition-section{
        height: 900px;
    }

    .texto-com-linha::before {
        width: 90px; 
    }
}

@media (max-width: 992px){

    /* navbar */

    .container-nav{
        position: relative;
        top: -35%;
    }

    .img-logo{
        width: 180px;
    }

    /* third section - about us */

    #about-us-section{
        background-color: #EFEFEF;
        height: 400px;
    }

    /* fourth section - tradition */

    #tradition-section{
        height: 1000px;
    }

    .row-tradition{
        width: 90%;
    }

    .row-tradition .box{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #seta1{
        left: -18px;
        top: 4%;
    }
    
    #seta2{
        left: -34px;
        top: 24%;
    }
    
    #seta3{
        left: -48px;
        top: 43%;
    }
    
    #seta4{
        left: -64px;
        top: 64%;
    }

    #grid-right-tradition{
        border-right: 0px;
    }

    #grid-left-tradition{
        padding: 30px;
        border-left: 5px solid #F2D422;
    }

    #tradition-section h2{
        font-size: 2em;
        font-weight: 500;
    }
    
    #tradition-section h3{
        font-size: 1.5em;
        font-weight: 500;
    }
    
    #tradition-section p{
        font-size: 1em;
        font-weight: 400;
        color: white;
    }

    /* fourth section - tradition */

    #grid-right-tradition{
        border-right: 0px;
    }

    .box{
        margin-left: 0px;
    }

    .top{
        margin-top: -25px !important;
    }

    .bottom{
        margin-bottom: -5px !important;
    }

    /*contact us*/

    .texto-com-linha::before {
        right: -20px;
        width: 90px; 
    }
}

@media (max-width: 768px) {

    /* navbar */

    .navbarTop{
        height: 25px;
    }
    
    .navbarBottom{
        height: 80px;
    }

    #carousel-section {
        height: 600px;
        background-attachment: scroll;
    }

    .container-nav{
        position: relative;
        top: -40%;
    }

    .img-logo{
        width: 120px;
    }

        /* products */

    #products-section{
        width: 100%;
    }

    .img-product{
        margin-left: -40px;
        height: 300px;
        width: 100%;
    }

    .img-product-right{
        margin-left: 40px;
        height: 300px;
        width: 100%;
    }

    #text-col{
        padding: 10px;
    }

    .content-1,
    .content-2,
    .content-3,
    .content-4{
        padding: 8px;
    }

    /* third section - about us */

    #about-us-section{
        height: 700px;
    }

    .img-about-us{
        margin-bottom: 25px;
    }

    /* fourth section - tradition */

    #tradition-section{
        height: 1000px;
        margin-left: 0px;
        margin-right: 0px;
        background-image: url('../img/tradition-section.jpg');
        background-position: center center;
    }

    #seta1{
        left: -18px;
        top: 4%;
    }
    
    #seta2{
        left: -34px;
        top: 24%;
    }
    
    #seta3{
        left: -48px;
        top: 45%;
    }
    
    #seta4{
        left: -64px;
        top: 66%;
    }

    /* fifth section - video gallery -- PRIMEIRA PARTE*/

    #youtube-first-section p{
        width: 100%;
    }

    #youtube-first-section .container{
        padding: 20px;
    }

    /* gallery */

    .carousel-item{
        height: auto;
        padding-right: 0px;
    }

    #col-gallery{
        border-left: 0px;
        border-bottom: 5px solid #F2D422;
        margin-bottom: 50px;
        height: 200px;
    }

    /*contact us*/

    .texto-com-linha::before {
        width: 140px; 
    }

    .box-content-info{
        width: 90%;
    }
}

@media (max-width: 576px){

    /* main Banner */
    
    #carousel-section h1{
        font-size: 4em;
    }
        
    #carousel-section p{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2em;
    }

    /* second section - about products */

    .img-product,
    .img-product-right{
        margin-right: 10px;
    }

    .content-1,
    .content-3{
        border-top: 5px solid #F2D422;
        width: 80%;
        border-left: 0px;
        margin-top: 35px;
        margin-right: 16px;
    }

    .content-2,
    .content-4{
        border-top: 5px solid rgb(100, 100, 100);
        width: 80%;
        border-right: 0px;
        margin-top: 35px;
        margin-right: 16px;
    }
    
    /* navbar */

    .container-nav{
        position: relative;
        top: -40%;
    }

    .img-logo{
        width: 120px;
    }

    #carousel-section {
        height: 500px;
    }

    /* products */

    .img-product,
    .img-product-right{
        margin-left: 0px;
        width: 80%;
        height: auto;
    }

    #text-col{
        margin-top: 40px;
        padding: 00px 0px 10px 60px;
        width: 80%;
    }

    /*about-us section*/

    #about-us-section{
        background-color: #EFEFEF;
        height: 700px;
    }

    /* fourth section - tradition */

    #tradition-section{
        height: 1000px;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* gallery */

    #col-gallery{
        position: relative;
        left: 25px;
        height: 250px;
        width: 90%;
    }

    /*contact us*/

    .texto-com-linha::before {
        right: -20px;
        width: 160px; 
    }

    .box-content-info{
        width: 90%;
    }

}

@media (max-width: 470px){

    /* main Banner */
    
    #carousel-section h1{
        font-size: 3em;
    }
    
    #carousel-section p{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.4em;
    }

    /* fourth section - tradition */
    

    #tradition-section{
        height: 1180px;
        margin-left: 0px;
        margin-right: 0px;
    }

    /*contact us*/

    .texto-com-linha::before {
        right: -20px;
        width: 80px; 
    }

        .box-content-info{
        width: 80%;
        padding-top: 25px;
    }
}

@media (max-width: 470px){

    /* main Banner */

    #carousel-section{
        height: 550px;
    }
    
    #carousel-section h1{
        font-size: 3em;
    }
    
    #carousel-section p{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.4em;
    }

    /* fourth section - tradition */
        
    #seta3{
        left: -48px;
        top: 43%;
    }
        
    #seta4{
        left: -64px;
        top: 63%;
    }

    #tradition-section{
        height: 1180px;
        margin-left: 0px;
        margin-right: 0px;
    }

    /*contact us*/

    .texto-com-linha::before {
        right: -20px;
        width: 50px; 
    }

    .box-content-info{
        width: 90%;
    }

    /* gallery */

    #col-gallery{
        position: relative;
        left: 15px;
        height: 250px;
        width: 90%;
    }
}
