@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-fluid{
    padding: 0px;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}

/* navbar */

.navbarTop{
    background-color: #F2D422;
    height: 40px;
}

.navbarBottom{
    background-color: transparent;
    /*background-image: linear-gradient(to right, #fdfbfb 60%, #d8fff365 100%);*/
    box-shadow: rgba(230, 230, 230, 0.24) 0px 1px 5px;
    height: 120px;
}

.navbarBottom a{
    color: white;
}

.img-logo{
    width: 180px;
    overflow: hidden;
}

.navbar-toggler{
    border: 1px solid white;
    color: white !important;
}

.navbar-toggler-icon{
    color: white;
}


/* main Banner */

#carousel-section {
    height: 800px;
    background-image: url('../img/ban.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#carousel-section h1{
    color:  #F2D422;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
}

#carousel-section p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}

.main-text {
    color: white;
}

/* second section - about products */

#products-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

#products-section > .row{
    height: auto;
}

.img-product,
.img-product-right{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20%;
    height: auto;
    width: 90%;
}

.content-1,
.content-3{
    border-left: 5px solid #F2D422;
    margin-left: -10px;
    padding: 16px;
}

.content-2,
.content-4{
    border-right: 5px solid rgb(100, 100, 100);
    margin-right: -18px;
    padding: 16px;
}


/* third section - about us */

#about-us-section{
    background-color: #EFEFEF;
    height: auto;
}

#about-us-section > .row{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.img-about-us{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
    border-radius: 100px;
}

.content-about-us{
    padding: 16px;
}

/* fourth section - tradition */

#tradition-section{
    box-shadow: 0px 0px 10px black;
    background-image: url('../img/tradition-section.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}

#seta1{
    position: relative;
    top: 13%;

    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#seta2{
    position: relative;
    top: 36%;
    left: -18px;

    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#seta3{
    position: relative;
    top: 60%;
    left: -38px;

    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#seta4{
    position: relative;
    top: 85%;
    left: -58px;

    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#grid-right-tradition{
    border-right: 5px solid #F2D422;
    margin-bottom: 40px;
}

#tradition-section h2{
    font-size: 3em;
    font-weight: 500;
}

#tradition-section h3{
    font-size: 2em;
    font-weight: 500;
}

#tradition-section p{
    font-size: 1.2em;
    font-weight: 400;
    color: white;
}

.box{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.459));
    padding: 10px;
    width: 36vw;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 20px;
}

/* fifth section - video gallery -- PRIMEIRA PARTE*/

#youtube-first-section{
    border-top: 10px solid rgb(24, 24, 24);
    background-image: url('../img/youtube-section.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

#youtube-first-section p{
    width: 50%;
}

#youtube-first-section .container{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* fifth section - video gallery -- SEGUNDA PARTE */

#youtube-second-section{
    background-color: #18181D;
    height: auto;
    padding: 20px;
}

#youtube-second-section iframe{
    border: 3px solid white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.row-videos{
    width: 100%;
}

.box-video{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 250px;
}

/* Product Image Section */

#product-image-section{
    background-color: #EFEFEF;
    height: auto;
}

/* Gallery Product Section */

#gallery-first-section{
    border-top: 1px solid rgb(24, 24, 24);
    background-image: url('../img/gallery-section.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

#gallery-first-section .container{
    margin-top: 50px;
    margin-bottom: 50px;
}

#col-gallery{
    height: 400px;
    padding: 26px;
    border-left: 5px solid #F2D422;
}

.carousel-item{
    height: 400px;
    padding-right: 26px;
}

/*contact-us*/

#contact-us-section{
    background-color: #fff;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form{
    margin-bottom: 15px;
}

.box-content-contact{
    position: relative;
    top: 30px;
    left: 30%;
    overflow: hidden;
}

.box-content-info{
    position: relative;
    bottom: -50px;
    left: 25px;
}

.texto-com-linha {
    position: relative;
}
  
.texto-com-linha::before {
    content: "";
    position: absolute;
    top: 60%;
    right: -20px;
    width: 180px; 
    height: 1px;
    background-color: #33333328; 
}

.col-form{
    border-right: 1px solid #33333328;
    padding-right: 45px;
}

.box-content-info{
    border-top: 1px solid #33333328;
    padding-top: 25px;
}

#logo-footer{
    width: 30%;
}

/* footer */

#footer-section{
    background-color: grey;
}

.footer-content{
    color: white;
    text-decoration: none;
}

#footer-section > .container{
    padding-top: 12px;
}

